.header {
  background-color: var(--black);
}

.header__container {
  color: white;
  height: 80px;
  display: flex;
  align-items: center;

  nav {
    display: flex;
    gap: 24px;
    font-size: 16px;
    margin-left: auto;
  }

  button {
    background-color: #fff;
    margin-left: 32px;
  }
}

.header__mobile_menu {
  display: none;
}

@media (max-width: 700px) {
  .header__container {
    nav,
    button {
      display: none;
    }
  }

  .header__mobile_menu {
    display: flex;
    margin-left: auto;

    width: 35px;
    height: 2px;
    background-color: #fff;
    position: relative;

    &::before {
      content: "";
      width: 35px;
      height: 2px;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: #fff;
    }
    &::after {
      content: "";
      width: 35px;
      height: 2px;
      position: absolute;
      top: -10px;
      left: 0;
      background-color: #fff;
    }
  }
}
