.authors_car {
  min-width: 296px;
  height: 324px;

  background-color: var(--lightGrey);
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: var(--lightYellow);
  }

  h3 {
    font-size: 28px;
    letter-spacing: -1px;
    margin-top: 20px;
  }
  p {
    color: var(--mediumGrey);
  }
  ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 20px;

    svg path {
      fill: black;
    }
  }
}
